.recipeCard {
  box-sizing: border-box;
  background: #f5f5f5;
  border: 2px solid #b53636;
  max-width: 400px;
}

.recipeName {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  align-items: center;
  text-align: center;
  color: #9b3e3e;
}

.recipeImage {
  max-width: 100%;
}
