.recipeCard {
  box-sizing: border-box;
  background: #F5F5F5;
  border: 2px solid #B53636;
  max-width: 400px;
}

.recipeName {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  align-items: center;
  text-align: center;
  color: #9B3E3E;
}